@font-face {
    font-family: "vazir";
    src: url(./Vazir.woff2);
    src: url(./verdana-ttf) format("true type"),
    url(./verdana.ttf) format("true type"),
    url(./Vazir.woff) format("woff"),
    url(./Vazir.woff2) format("woff2");
}
